<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.taobao.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BulletinServlet</servlet-name>
    <servlet-class>com.taobao.servlet.BulletinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <servlet-class>com.taobao.servlet.GoodsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsInfoServlet</servlet-name>
    <servlet-class>com.taobao.servlet.GoodsInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.taobao.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.taobao.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.taobao.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>customerServlet</servlet-name>
    <servlet-class>com.taobao.servlet.customerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>systemServlet</servlet-name>
    <servlet-class>com.taobao.servlet.systemServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>queryServlet</servlet-name>
    <servlet-class>com.taobao.servlet.queryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/systemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BulletinServlet</servlet-name>
    <url-pattern>/bulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsTypeServlet</servlet-name>
    <url-pattern>/goodsTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsInfoServlet</servlet-name>
    <url-pattern>/goodsInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customerServlet</servlet-name>
    <url-pattern>/customerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>systemServlet</servlet-name>
    <url-pattern>/systemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryServlet</servlet-name>
    <url-pattern>/queryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>